@import "mixin/responsive-layout";

$xs-min-width: 0px;
$sm-min-width: 500px;
$md-min-width: 800px;
$lg-min-width: 1100px;

@media screen and (min-width: $xs-min-width) and (max-width: $sm-min-width - 1) {
  @include responsive-layout(1, 10px, 20px, 20px, 0px, 0px, 15px);
}
@media screen and (min-width: $sm-min-width) and (max-width: $md-min-width - 1) {
  @include responsive-layout(2, 12px, 20px, 20px, 0px, 100px, 20px);
}
@media screen and (min-width: $md-min-width) and (max-width: $lg-min-width - 1) {
  @include responsive-layout(3, 14px, 40px, 30px, 20px, 150px, 30px);
}
@media screen and (min-width: $lg-min-width){
  @include responsive-layout(4, 14px, 40px, 30px, 50px, 200px, 30px);
}

$primary-color: #2d2d2d;
$secondary-color: #967d4d;
$info-color: #0080c0;
$danger-color: #ff0000;

html{
  height: 100%;
  margin: 0px;
  overflow: hidden;
  body{
    height: 100%;
    margin: 0px;
    overflow: hidden;
    background: url(../images/bg-page.jpg);
    color: $primary-color;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    .hidden{
      display: none;
    }
    header{
      @import "modules/header";
    }
    nav{
      @import "modules/nav";
    }
    main{
      overflow-y: auto;
      overflow-x: hidden;
      float: left;
      @import "modules/main";
    }
    aside{
      overflow-x: auto;
      @import "modules/aside";
    }
    footer{
      @import "modules/footer";
    }
  }
}
