@import "mixin/responsive-layout";

$min-width-1: 0px;
$min-width-2: 400px;
$min-width-3: 500px;
$min-width-4: 550px;
$min-width-5: 800px;
$min-width-6: 900px;
$min-width-7: 1000px;
$min-width-8: 1200px;

@media screen and (min-width: $min-width-1) and (max-width: $min-width-2 - 1) {
  @include responsive-layout(1, 10px, 20px, 20px, 0px, 0px, 15px);
}
@media screen and (min-width: $min-width-2) and (max-width: $min-width-3 - 1) {
  @include responsive-layout(1, 10px, 20px, 20px, 0px, 100px, 15px);
}
@media screen and (min-width: $min-width-3) and (max-width: $min-width-4 - 1) {
  @include responsive-layout(1, 10px, 20px, 20px, 0px, 125px, 15px);
}
@media screen and (min-width: $min-width-4) and (max-width: $min-width-5 - 1) {
  @include responsive-layout(2, 12px, 20px, 30px, 0px, 125px, 20px);
}
@media screen and (min-width: $min-width-5) and (max-width: $min-width-6 - 1) {
  @include responsive-layout(2, 14px, 40px, 30px, 20px, 150px, 30px);
}
@media screen and (min-width: $min-width-6) and (max-width: $min-width-7 - 1){
  @include responsive-layout(2, 14px, 40px, 30px, 50px, 200px, 30px);
}
@media screen and (min-width: $min-width-7) and (max-width: $min-width-8 - 1){
  @include responsive-layout(3, 14px, 40px, 30px, 50px, 200px, 30px);
}
@media screen and (min-width: $min-width-8) {
  @include responsive-layout(4, 14px, 40px, 30px, 50px, 200px, 30px);
}

$primary-color: #2d2d2d;
$secondary-color: #967d4d;
$info-color: #0080c0;
$danger-color: #ff0000;

html{
  height: 100%;
  margin: 0px;
  overflow: hidden;
  body{
    height: 100%;
    margin: 0px;
    overflow: hidden;
    background: url(../images/bg-page.jpg);
    color: $primary-color;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    .hidden{
      display: none;
    }
    header{
      @import "modules/header";
    }
    nav{
      @import "modules/nav";
    }
    main{
      overflow-y: auto;
      overflow-x: hidden;
      float: left;
      @import "modules/main";
    }
    aside{
      overflow-x: auto;
      @import "modules/aside";
    }
    footer{
      @import "modules/footer";
    }
  }
}
