&{
  background-color: $primary-color;
  overflow: hidden;
  ul{
    margin: 0px;
    padding: 0px;
    li{
      margin: 0px;
      padding: 0px 0px 0px 10px;
      img{
        width: 90%;
        display:block;
      }
    }
  }
}
