&:before{
  content: ' ';
  background-color: $primary-color;
  position: absolute;
  bottom: 0px;
  opacity: 0.2;
}
&{
  padding-top: 0.2em;
  p{
    font-size: 0.8em;
    text-align: center;
    margin: 0px;
  }
}
