&{
  button{
    height: 30px;
    border: none;
    background-color: $info-color;
    font-weight: bold;
    font-size: 1em;
    color: white;
    &:hover, &:active, &:visited, &:link, &:focus{
      background-color: $info-color;
      cursor: pointer;
    }
  }

  .corner:after{
    content: ' ';
    position: absolute;
    top: 0px;
    right: 0px;
    height: 0px;
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid $danger-color;
  }

  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3) inset;
  section.job-list{
    padding-left: 0px !important;
    padding-right: 20px !important;
    margin: 0px 20px 20px 0px;
    height: 200px;
    transform-style: preserve-3d;
    perspective: 800px;
    &:hover{
      article{
        &.front{
          transform: rotateY(180deg);
        }
        &.back{
          transform: rotateY(0deg);
        }
      }
    }
    article{
      position: absolute;
      padding: 20px;
      height: 160px;
      width: calc(100% - 40px);
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
      transition: transform 1s;
      backface-visibility: hidden;

      &.sqli{
        h2{
          color: white;
        }
        span.logo{
          margin: 0px 10px 10px 0px;
          background-image: url(../images/SQLI-Institut.png);
          background-size: 80px 38px;
          background-repeat: no-repeat;
          width: 80px;
          height: 38px;
          position: absolute;
          bottom: 2px;
          right: 2px;
          opacity: 0.8;
        }
        &.back:before{
          background-image: url(../images/didier.jpg);
        }
      }
      &.wax{
        h2{
          color: $wax-primary-color;
        }
        span.logo{
          margin: 0px 0px 10px 0px;
          background-image: url(../images/SQLI-Wax.png);
          background-size: 100px 40px;
          background-repeat: no-repeat;
          width: 100px;
          height: 40px;
          position: absolute;
          bottom: 2px;
          right: 2px;
          opacity: 0.8;
        }
        &.corner:after{
          border-right: 15px solid $wax-primary-color;
        }
        &.back:before{
          background-image: url(../images/didier.jpg);
        }
      }
      &.front{
        background-color: rgba($secondary-color, 1);
        transform: rotateY(0deg);
        display: table;
        h2{
          padding-top: 30px;
          font-size: 1.8em;
          text-align: right;
          display:table-cell;
          -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
              -ms-transform: rotate(-7deg); /* IE 9 */
                  transform: rotate(-7deg);
        }
      }
      &.back{
        background-color: $primary-color;
        color: $secondary-color;
        font-size: 1em;
        transform: rotateY(180deg);
        overflow: hidden;
        text-align: justify;
        span{
          padding-left: 80px;
          color: $secondary-color;
          font-weight: bold;
          display: block;
          height: 30px;
          font-size: 1.2em;
          border-radius: 0px;
          margin-bottom: 2px;
          white-space: nowrap;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        button{
          width: 30px;
          position: absolute;
          bottom: 20px;
          right: 20px;
          border-radius: 50%;
        }
      }
      &:before{
        content: ' ';
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: -116px 0px;
        opacity: 0.2;
      }
    }
    &:not(.active){
      position: absolute;
      top: 0px;
      left: -100%;
      transform: translate(-100%, 0px);
    }
    &.active{
      transition: opacity 1s, transform 1s;
    }
  }
  section.job-detail{
    &:not(.active){
      position: absolute;
      top: 0px;
      left: -100%;
      height: 0px;
      width: 0px;
      opacity: 0;
      transform: translate(100%, 0px);
    }
    &.active{
      transition: opacity 1s, transform 1s;
    }
    background-color: $primary-color;
    min-height: calc(100% - 60px);
    width: calc(100% - 60px);
    padding: 20px 20px 50px 20px;
    text-transform: none;
    margin-bottom: 20px;
    a.close-job-detail{
      background-color: $info-color;
      border-radius: 50%;
      float: right;
      height: 18px;
      width: 20px;
      color: white;
      padding: 2px 0px 0px 0px;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      text-transform: lowercase;
      &:hover, &:active, &:visited, &:link, &:focus{
        color: white;
        text-decoration: none;
      }
    }
    h2{
      color: $secondary-color;
      font-weight: bold;
      font-size: 1.5em;
    }
    h3{
      color: $info-color;
      font-weight: bold;
      font-size: 1em;
    }
    p, pre, li{
      font-family: inherit;
      color: lighten($secondary-color, 15%);
      text-align: justify;
      font-weight: lighter;
      font-size: 1em;
      white-space: pre-wrap;
      font-weight: 100;
    }
    pre{
      color: white;
    }
    button{
      float: right;
    }
  }
}
