&{
  padding: 0px 50px 0px 50px;
  font-size: 20px;
  span{
    &.active{
      color: $info-color;
      font-size: 24px;
      font-weight: bold;
    }
    &:before{
      content: ' > ';
    }
  }
}
